<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href=" /css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <nav class="navbar bg-body-tertiary ">
        <div class="container-fluid">
          <span class="navbar-brand  h1"> <i class="fa-solid fa-van-shuttle" style="color: rgb(46, 7, 63);"></i> Tranzy</span>
        </div>
        <div class="buttons ">
          <button class="btn btn-primary signup">
            <a href="/signup">Sign Up</a>
            </button>
          <button class="btn btn-primary login">
            <a href="/login">Sign In</a>
            </button>
        </div>
      </nav>
      <div class="header">
        <h1>Hop On. We've Got Your Route.</h1>
        <p>Transforming the Way You Travel Around Campus</p>
        <button>Get Started</button>
    </div>
    

      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>